div.project-images-carousel{
    background-position: center;
    background-color: #00000000; 
    background-repeat: no-repeat;
    background-size: contain;
    width: 1024px;
    height: 512px;
}

div.carousel{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    min-height: 100%;
}

@media screen and (max-width: 1024px) {
    div.project-images-carousel{
        width: 100%;
    }
    
    div.carousel{
        width: 100%;
    }
}