<div class="experiences-container">
  <div class=experiences-title>
    <h6 class="experiences-title semi-bold">Experience</h6>
  </div>
  <div class="experiences-list">
    <div *ngFor="let experience of experiences; let i = index" class="experience" [style.margin-right]="marginRightAt(i)" [style.width]="cellWidth()">
      <div class="company-photo">
        <img [src]="experience.officeLogo" height="90px" width="90px">
      </div>
      <div class="experience-description">
        <h3>{{experience.position}}</h3>
        <h4>{{experience.officeName}}</h4>
        <h5>{{formatDate(experience.startDate)}} - {{formatDate(experience.endDate)}}</h5>
        <h5>{{experience.location}}</h5>
        <h5>{{experience.description}}</h5>
      </div>
    </div>
  </div>
</div>