<div class="skills-container">
  <div class="skills-paragraph-container">
    <h2>Programming Language</h2>
    <p class="skills-p">
      I personally have my first programming experience with PERL, but then I dig deep into C and C++ as my basic
      learning language. Later, Java is the language that mostly thougt me many fundamentals of Object Oriented
      Programming language
      <br>
      <br>
      On app development, I prefer the native approach, since the native generally have better performance than its
      hybrid alternative. I usually using Kotlin for Android and Swift for iOS as this languages are offer more modern
      approach for developing instead of Java or Objective-C.
      <br>
      <br>
      For web development, since I usually using Angular 2 or above, TypeScript is my first option for my front end
      language. The back-end can adjusted according to the requirement.
    </p>
  </div>
  <div class="skills-list-container">
    <ul class="skills-list">
      <li>
        <h3>C# & Java</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          </div>
        </div>
      </li>
      <li>
        <h3>Kotlin</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          </div>
        </div>
      </li>
      <li>
        <h3>Swift</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          </div>
        </div>
      </li>
      <li>
        <h3>JavaScript & TypeScript</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:75%">
          </div>
        </div>
      </li>
      <li>
        <h3>C/C++</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:65%">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>