div.skills-container {
    width: 100%;
    margin-top: 0px !important;
    display: flex;
    height: fit-content;
    background-color: var(--color-darker)
}

div.skills-list-container {
    width: 50%;
    min-height: fit-content;
    padding: 73px 73px 73px 73px;
    background-color: var(--color-not-so-dark)
}

div.skills-paragraph-container {
    width: 50%;
    height: fit-content;
    padding: 54px 45px 90px 45px;
    background-color: var(--color-darker)
}

p.skills-p{
    color: var(--color-light);
    font-size: 18px;
    font-weight: 300;
    padding: 24px
}

ul.skills-list{
    list-style-type: none;
}

ul.skills-list li{
    margin: 27px
}

div.progress-bar {
    background-color: var(--color-primary) !important;
}

div.progress{
    background-color: var(--color-darker) !important;
    border-radius: 10px;
}

h5.skills-title{
    color: var(--color-semi-transparent-light);
    padding: 24px;
}

h6.skills{
    color: var(--color-semi-transparent-light);
}

@media screen and (max-width: 768px) {
    div.skills-container{
        display: table-cell;
    }

    div.skills-list-container {
        width: 100%;
    }
    
    div.skills-paragraph-container {
        width: 100%;
    }
}