
<nav class="navbar" id="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle" (click)="onNavMenuClicked()">
    <i class="fas fa-bars"></i>
  </span>
  <a routerLink="/home" class="logo">
    <img class="nav-image" src="https://res.cloudinary.com/hainayanda/image/upload/v1548086145/n-logo-nav.png" alt="logo">
     still on development
  </a>
  <ul class="main-nav" id="js-menu">
    <li>
      <a routerLink="/home" routerLinkActive="active" class="nav-links">Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" class="nav-links">About</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active" class="nav-links">Projects</a>
    </li>
  </ul>
  <ul class="main-nav">
    <li>
      <a [attr.href]="externalLinks.linkedin" class="nav-links" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a [attr.href]="externalLinks.github" class="nav-links" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a [attr.href]="externalLinks.email" class="nav-links" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
</nav>