
<nav class="navbar" id="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
    <i class="fas fa-bars"></i>
  </span>
  <a routerLink="/home" class="logo">
    <img class="nav-image" src="https://res.cloudinary.com/hainayanda/image/upload/v1547394681/n-logo-nav.png" alt="logo">
  </a>
  <ul class="main-nav" id="js-menu">
    <li>
      <a routerLink="/home" routerLinkActive="active" class="nav-links">Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" class="nav-links">About</a>
    </li>
    <li>
      <a routerLink="/project" routerLinkActive="active" class="nav-links">Projects</a>
    </li>
  </ul>
  <ul class="main-nav">
    <li>
      <a href="https://www.linkedin.com/in/nayanda/" class="nav-links">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/nayanda1" class="nav-links">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="mailto:nayanda1@outlook.com" class="nav-links">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
</nav>