div.column {
  float: left;
  width: 20%;
}

.row {
  padding: 18px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

circle {
  margin: auto;
}

h6.dev-skills {
  color: var(--color-semi-transparent-light);
  line-height: 120%;
  margin: auto, auto, 18px, auto;
}

div.dev-skills-container {
  background-color: var(--color-not-so-dark);
  padding: 27px;
}

@media screen and (max-width: 768px) {
  div.column {
    width: 50%;
    min-height: 210px;
  }
}