.column {
    display: table-cell;
    float: left;
    width: 20%;
    padding: 10px;
  }
  
.row{
    padding: 18px;
    vertical-align: middle;
    text-align:center;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  circle {
    margin:auto;
  }

  h4 {
    color: var(--color-light);
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    margin:auto, auto, 18px, auto;
  }

  div.dev-skills-container {
      background-color: var(--color-not-so-dark)
  }

  @media screen and (max-width: 768px) {
    div.column{
        width: 50%;
    }
}