<div class="dev-skills-container">
  <div class="row">
    <div class="column" *ngFor="let skill of skills">
      <h4 class="h4-dev-skills">{{skill.name}}</h4>
        <circle-progress
        [percent]="skill.value * 100"
        [radius]="54"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [innerStrokeColor]="'var(--color-secondary)'"
        [outerStrokeColor]="'var(--color-primary)'"
        [animation]="true"
        [animationDuration]="300"
        [showTitle]="false"
        [showSubtitle] = "false"
        [showUnits]="false"
      ></circle-progress>
    </div>
  </div>
</div>