div.project-modal-content {
    max-height: 100%;
    max-width: 100%;
}

div.image-carousel {
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}