<div class="home-container">
  <div class="home-bg"></div>
  <div class="home-row">
    <div class="home-content-container">
      <h1 class="home boldest line-breaker">
        {{page.title}}
      </h1>
      <h1 class="home semi-bold line-breaker">{{page.subtitle}}</h1>
      <p class="home big regular line-breaker">
        {{page.paragraph}}
      </p>
      <div>
        <a class="button button-about" routerLink="/about">
          Learn More
          <i class="button-r-arrow fas fa-caret-right"></i>
        </a>
        <a class="button button-contact" id="contact-me" (click)="onContactMeClicked()">
          Contact Me
          <i class="button-r-arrow fas fa-caret-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>