div.footer {
    background-color: var(--color-darker);
    min-height: fit-content;
    width: 100%;
    display: flex;
}

div.footer div {
    display: inline-block;
    vertical-align: middle;
}

div.footer-text-container {
    width: 72%;
    padding: 9px 45px 9px;
}

div.footer-icon-container {
    margin: auto 45px auto auto;
    width: fit-content;
    height: fit-content;
}

.icon-footer {
    display: flex;
    align-self: flex-start;
    list-style-type: none;
}

.icon-footer li {
    margin: 27px;
    float: left;
    display: block;
    text-align: center;
}

.footer-links {
    text-decoration: none;
    color: var(--color-primary)
}

.footer-links:hover {
    color: var(--color-secondary)
}

h6.footer{
    color: white;
}

p.footer{
    font-size: 16px;
    color: var(--color-semi-transparent-light);
}

h6.phone-number{
    font-size: 16px;
    color: var(--color-semi-transparent-light);
    
}

@media screen and (max-width: 900px) {

    div.footer-icon-container {
        margin: auto 45px auto auto;
        width: fit-content;
        height: fit-content;
    }

    .icon-footer {
        display: table;
        list-style-type: none;
    }

    .icon-footer li {
        margin: 12px;
        float: none;
    }

    div.footer-text-container {
        width: 81%;
        padding: 9px 45px 9px;
    }
}