<div class="home-container">
  <div class="home-row">
    <div class="home-content-container">
      <h1 class="home home-bold">
          Hi!<br>
          I'm Nayanda<br>
      </h1>
      <h1 class="home home-semi-bold">Programmer</h1>
      <p class="home-p">
        Not just one kind of programmer. Most experienced with mobile apps development, but can do web development, back-end development, desktop application or even hardware programming.
      </p>
      <div>
        <a class="button button-about" routerLink="/about">
          Learn More
          <i class="button-r-arrow fas fa-caret-right"></i>
        </a>
        <a class="button button-contact" href="mailto:nayanda1@outlook.com">
            Contact Me
            <i class="button-r-arrow fas fa-caret-right"></i>
          </a>
      </div>
    </div>
  </div>
</div>