<div class="carousel">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of project.pictures">
      <div [style.background-image]="'url('+ image +')'" class="project-images-carousel"></div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="project-description-container">
  <h2 class="bold">{{project.name}}</h2>
  <h5 class="semi-bold">{{formatDate(project.startedDate)}} - {{formatDate(project.endDate)}}</h5>
  <p class="regular line-breaker">{{project.description}}</p>
  <div class="button-container">
    <a class="button button-back" routerLink="/projects">
      <i class="button-r-arrow fas fa-caret-left"></i>
      Back to project page
    </a>
    <a *ngIf="project.link" class="button button-gotolink" [attr.href]="project.link" target="_blank">
      Go to project
      <i class="button-r-arrow fas fa-caret-right"></i>
    </a>
  </div>
</div>