<main>
  <div class="about-header-bg"></div>
  <div class="about-header">
    <div class="about-row">
      <div class="about-content-container">
        <h1 class="about about-bold">
          About Me
        </h1>
        <h2 class="about about-semi-bold">
          Nayanda Haberty
        </h2>
        <p class="about about-p">
          Everything started even before I'm going to college. It started in my high school period. 
          Started when I try and learn by myself to exploit some open source bot for online games until I decided to seriously learn about programming. 
          <br>
          <br>
          My curiousity started from the question about "how can some electrical device can perform such a thing just by a bunch of code?". 
          This curiousity lead me to Computer Engineering Major. Later this curiousity became passion in programming, in like all type of software development. 
        </p>
      </div>
    </div>
  </div>
  <app-about-dev-skills></app-about-dev-skills>
  <app-about-skills></app-about-skills>
  <app-about-experiences></app-about-experiences>
</main>