*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #d32f2f;
  --color-secondary: #ff6659;
  --color-primary-dark: #9a0007;
  --color-lighter: rgba(255, 255, 255, 0.9);
  --color-light: rgba(255, 255, 255, 0.8);
  --color-semi-transparent-light: rgba(255, 255, 255, 0.4);
  --color-transparent-light: rgba(255, 255, 255, 0.2);
  --color-light-grey: #aaaaaa;
  --color-dark: rgba(22, 22, 22, 0.54);
  --color-darker: #161616;
  --color-not-so-dark: #242424;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p{
  margin: 0px;
}

.line-breaker {
  white-space: pre-line;
}